[submodule "01-basic/A-hello-cmake/lib/gn"]
	path = 01-basic/A-hello-cmake/lib/gn
	url = https://gn.googlesource.com/gn
[submodule "01-basic/A-hello-cmake/lib/chip"]
	path = 01-basic/A-hello-cmake/lib/chip
	url = git@github.com:PhysicalGraph/connectedhomeip.git
